<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ssafy.board.model.dao.DiaryDao">

	<!-- 전체 다이어리 조회 -->
	<select id="selectAll" resultType="Diary">
		SELECT *
		FROM diaries;
	</select>
	
	<!-- id로 조회 -->
	<select id="selectOneById" parameterType="int" resultType="Diary">
		SELECT *
		FROM diaries
		WHERE diary_id = #{id};
	</select>
	
	<!-- date로 조회 -->
	<select id="selectOneByDate" parameterType="String" resultType="Diary">
		SELECT *
		FROM diaries
		WHERE diary_regdate = #{date};
	</select>
	
	<!-- 다이어리 등록 -->
	<insert id="insertDiary" parameterType="Diary" keyProperty="diary_id" useGeneratedKeys="true">
		INSERT INTO diaries (diary_id, user_num, diary_title, diary_regdate, diary_content)
		VALUES (#{diary_id}, #{user_num}, #{diary_title}, #{diary_regdate}, #{diary_content})
	</insert>
	
	<!-- 다이어리 삭제 -->
	<delete id="deleteDiary" parameterType="int">
		DELETE FROM diaries
		WHERE diary_id = #{id}
	</delete>
	
	<!-- 다이어리 수정 -->
	<delete id="updateDiary" parameterType="int">
		UPDATE diaries
		SET diary_title = #{diary_title}, diary_rating = #{diary_rating}, diary_content = #{diary_content}
		WHERE diary_id = #{id}
	</delete>
	
	
</mapper>