<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.pjt.model.dao.ScrapDao">

	<resultMap type="com.ssafy.pjt.model.dto.ScrapDto" id="scrap">
		<result column="scrap_id" property="scrapId" />
		<result column="user_num" property="userNum" />
		<result column="scrap_title" property="scrapTitle" />
		<result column="scrap_url" property="scrapUrl" />
		<result column="scrap_vtitle" property="scrapVtitle" />
		<result column="scrap_thumbnail" property="scrapThumbnail" />
		<result column="scrap_content" property="scrapContent" />
		<result column="scrap_regdate" property="scrapRegdate" />

	</resultMap>

	<!-- 사용자 전체 스크랩 조회 -->
	<select id="selectAll" parameterType="int" resultMap="scrap">
		SELECT *
		FROM scraps
		WHERE user_num = ${userNum};
	</select>

	<!-- id로 스크랩 조회 -->
	<select id="selectById" parameterType="int" resultMap="scrap">
		SELECT *
		FROM scraps
		WHERE scrap_id=#{id};
	</select>

	<!-- 스크랩 등록 -->
	<insert id="insertScrap" parameterType="ScrapDto"
		keyProperty="scrapId" useGeneratedKeys="true">
		INSERT INTO scraps (user_num,
		scrap_title, scrap_url, scrap_vtitle, scrap_thumbnail, scrap_content, scrap_regdate)
		VALUES (#{userNum}, #{scrapTitle}, #{scrapUrl}, #{scrapVtitle},
		#{scrapThumbnail}, #{scrapContent}, now());
	</insert>

	<!-- 스크랩 삭제 -->
	<delete id="deleteScrap" parameterType="int">
		DELETE from scraps
		WHERE
		scrap_id = #{id};
	</delete>

	<!-- 스크랩 수정 -->
	<update id="updateScrap" parameterType="ScrapDto">
		UPDATE scraps
		SET
		scrap_title = #{scrapTitle}, scrap_content = #{scrapContent}
		WHERE
		scrap_id = #{scrapId};
	</update>

</mapper>